<% was_validated = bookmark.errors.any? %>

<%= form_with(model: bookmark, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :bookmarker_id, value: current_user.id %>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = bookmark.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.text_field :status, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% bookmark.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = bookmark.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <% if movie_was_invalid %>
      <% bookmark.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
