<%= form_with(model: @bookmark, local: true) do |f| %>

  <%= f.hidden_field :bookmarker_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.hidden_field :movie_id, value: @movie.id %>

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
