<!-- Form bookmark start -->
<%= form_with(model: @bookmark, local: true) do |f| %>
<!-- Form bookmark end -->

  <!-- Label and input for bookmarker_id start -->
  <!-- Input for bookmarker_id start -->
  <%= f.hidden_field :bookmarker_id, value: @user.id %>
  <!-- Input for bookmarker_id end -->
  <!-- Label and input for bookmarker_id end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <%= f.label :status %>

    <!-- Input for status start -->
    <%= f.text_field :status, class: "form-control" %>
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <%= f.label :movie_id %>

    <!-- Input for movie_id start -->
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for movie_id end -->
  </div>
  <!-- Label and input for movie_id end -->

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
